body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: #737373;
}
.image-text{
  color: white;
  text-shadow: 1px 1px 3px black;
}
.no-margin {
  margin: 0;
}
.padding-bottom-md {
  padding-bottom: 2.5rem;
}
.padding-top-md {
  padding-top: 2.5rem;
}
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
.above-overlay {
  z-index: 1001;
  position: relative;
}
.sky-gradient {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.inline-block {
  display: inline-block;
}
a {
  color: #34495e;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home-wrapper .left {
  width: 50vw;
  float: left;
}
.home-wrapper .right {
  width: 50vw;
  float: right;
}
.home-wrapper ul {
  padding-left: 0;
}
.home-wrapper .font-2x {
  font-size: 2rem;
}
.home-wrapper .font-3x {
  font-size: 3rem;
}
.home-wrapper .card-one {
  position: relative;
  z-index: 4;
  background-image: url("thumbs_up_hero_desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55vh !important;
}
@media only screen and (max-width: 767px) {
  .home-wrapper .card-one {
    background-image: url("thumbs_up_hero_mobile.jpg");
    height: 100vh !important;
    padding-top: 65vh !important;
  }
}
.home-wrapper .card-two {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 3;
  padding-top: 25px;
}
.home-wrapper .card-two ul {
  list-style: none;
}
.home-wrapper .card-two .social-row .fas,
.home-wrapper .card-two .social-row .fab,
.home-wrapper .card-two .social-row .far {
  padding-left: 10px;
  padding-right: 10px;
  color: #5bc0de;
}
.home-wrapper .card-two .social-row .fas:hover,
.home-wrapper .card-two .social-row .fab:hover,
.home-wrapper .card-two .social-row .far:hover {
  color: #34495e;
}
.home-wrapper .card-two .social-row {
  padding-top: 50px;
}
.home-wrapper .card-three {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
  padding-top: 25px;
}
.home-wrapper .card-four {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 1;
  padding-top: 25px;
}
.home-wrapper .card {
  width: 100vw;
  height: 100vh;
  margin-bottom: 200px;
  text-align: center;
  color: #34495e;
}
.home-wrapper .card:last-of-type {
  margin-bottom: 0px;
}
.home-wrapper .card .fas,
.home-wrapper .card .fab,
.home-wrapper .card .far {
  color: #34495e;
}
.home-wrapper .card h1 {
  color: #fff;
  font-size: 5rem;
}
.home-wrapper .card h1 strong {
  font-size: 6rem;
  display: block;
  text-transform: uppercase;
}
.home-wrapper .card h2 {
  font-size: 4.5rem;
}
.home-wrapper .card p {
  font-size: 1.8rem;
}
@media only screen and (max-width: 767px) {
  .home-wrapper .card {
    padding-top: 25px;
    padding-bottom: 100px;
    margin-bottom: 0;
    position: relative;
    height: auto;
  }
  .home-wrapper .card ul {
    margin-left: 10px;
  }
  .home-wrapper .card h1, .home-wrapper .card h1 strong {
    font-size: 3.5rem;
  }
  .home-wrapper .card h2 {
    font-size: 3.5rem;
  }
  .home-wrapper .card h3 {
    font-size: 2.5rem;
  }
}
.home-wrapper .card .black-overlay {
  opacity: 0.8;
}
.home-wrapper .card .icon-wrapper {
  position: absolute;
  bottom: 2.5rem;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 2rem;
}
